 @media screen and (max-width: 768px) {
    .bannerPromo h4{
        font-size: 12px;
        padding: 0 0;
    }

    #spacer{
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
        margin-top: 4rem;
        margin-bottom: 4rem;
        background-image: url('../img/spacerIndex.jpg');
        height: 10rem;  
    }
    #spacer2{
        clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
        margin-top: 4rem;
        margin-bottom: 4rem;
        background-image: url('../img/spacer2.jpg');
        height: 10rem;  
    }

    .heroTitle, .heroTitle2, .heroTitle3{
        font-size: 30px;
        width: 10rem;
    }
    
    .heroSubtitle, .heroSubtitle2, .heroSubtitle3{
        font-size: 25px;
    }

    .imgError{
        width: 200px;
        height: 200px;
    }
    
}
@media screen and (max-width: 991px) {

    /* .heroTitle{
        font-size: 60px;
        width: 13rem;
    }

    .heroTitle2{
        font-size: 60px;
        width: 18rem;
    }

    .heroTitle3{
        font-size: 60px;
        width: 22rem;
    }
    
    .heroSubtitle, .heroSubtitle2, .heroSubtitle3{
        font-size: 55px;
    } */

    .containerSignup{
        height: 55rem;
    }

}




