/* LOADING SCREEN */

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00b7c2;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* css */
.sfondoChiaro{
    background-color: #A3E8EC;
}

.sfondoMedio{
    background-color: #ECFEFF;
}

.first-color { 
    background: #ecfeff; 
}

.second-color { 
    background: #00b7c2; 
}

.third-color { 
    background: #128594; 
}

.fourth-color { 
    background: #4ef037;
}

.veicoloCard {
    background: #128594;
    height: 7rem;
    margin-top: 1rem;
    transition: 0.2s;
}

.noLink a{
    text-decoration: none;
}

.veicoloCard:hover{
    color: #128494;
    background: white;
    height: 7rem;
    margin-top: 1rem;
    border: 2px solid #128494;
}

.veicoloCardNoDisp{
    background: #12859468;
    height: 7rem;
    margin-top: 1rem;
}

.veicoloCardNoDisp:hover{
    cursor: not-allowed;
}

.whiteText{
    color: white;
}

.primaryText{
    font-size: 14px;
    color: #00B7C2;
}

.secondaryText{
    font-size: 20px;
    color:#128494;
}





.bannerPromo{
    background: #00b7c2;
    text-align: center;
    padding: .10rem 0;
}

.bannerPromo h4{
    text-shadow: 0px 0px .5px #000000;
  
}

/* -------------------------------------------------------------------------- */
/*                                    HERO                                    */
/* -------------------------------------------------------------------------- */

.heroText{
    align-items:flex-start;
}

.heroTitle{
    font-size: 80px;
    padding: 1rem 1rem;
    color: white;
    background-color: #00B7C2;
    width: 17rem;
    height: auto;
}
.heroTitle2{
    font-size: 80px;
    padding: 1rem 1rem;
    color: white;
    background-color: #00B7C2;
    width: 24rem;
    height: auto;
}
.heroTitle3{
    font-size: 80px;
    padding: 1rem 1rem;
    color: white;
    background-color: #00B7C2;
    width: 26rem;
    height: auto;
}

.heroSubtitle{
    font-size: 70px;
    color: white;
}   
.heroSubtitle2{
    font-size: 70px;
    color: white;
}   
.heroSubtitle3{
    font-size: 70px;
    color: white;
}   

/* -------------------------------------------------------------------------- */
/*                              SEZIONE ALTA SITO                             */
/* -------------------------------------------------------------------------- */

.monopattinoImg img{
    height: 16rem;
    width: auto;
}

.immagineScooter{
    display: flex;
    justify-content: space-evenly;
    margin-left: 9rem;
}

/* -------------------------------------------------------------------------- */
/*                             BANNER ABBONAMENTI                             */
/* -------------------------------------------------------------------------- */
 
.swiper {
    width: 100%;
    height: 100%;
  }
 
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
 
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
 
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    width: 100%;
    height: 300px;
  }
  /* -------------------------------------------------------------------------- */
  /*                                  PULSANTI                                  */
  /* -------------------------------------------------------------------------- */

.primaryBtn{
    font-size: 20px;
    color: white;
    background: #00B7C2;
    /* blue1/100 */

    border: 3px solid #ECFEFF;
    border-radius: 4px;
    transition: .15s;
}

.primaryBtn:hover{
    background: white;
    color: #128594;
}

.primaryBtnVerde:hover{
    background: rgb(78, 240, 55);
    color: #ffffff;
}



/* -------------------------------------------------------------------------- */
/*                                   SPACER                                   */
/* -------------------------------------------------------------------------- */

#spacer{
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-image: url('../img/spacerIndex.jpg');
    height: 20rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacerText{
    font-size: 4rem;
    color: white;
    
    
}

/* -------------------------------------------------------------------------- */
/*                                SEZIONE LISTA                               */
/* -------------------------------------------------------------------------- */

.sezioneLista{
    font-size: 20px;
    height: 6rem;
    background-color: #00B7C2;
    border: 4px solid #128594;
    margin: 1rem;
    transition: .2s;
}



.sezioneLista:hover{
    color:#128494;
    background: white;
    border: 5px solid #00B7C2;
    cursor: pointer;
    
}

/* -------------------------------------------------------------------------- */
/*                                    MAPPA                                   */
/* -------------------------------------------------------------------------- */

.mappa, #map{
    margin-top: 3rem;
    height: 20rem;
    width: auto;
}


/* -------------------------------------------------------------------------- */
/*                                    PROVE                                   */
/* -------------------------------------------------------------------------- */

#fotoVeicolo{
    background-image: url(../img/vwElettrica.jpg);
    min-height: 30rem;
    width: auto;
    background-size: cover;
    background-position: center center;
    margin-top: 3%;
}

/* -------------------------------------------------------------------------- */
/*                                DISPONIBILITA                               */
/* -------------------------------------------------------------------------- */

.disponibile{
    color: #4ef037;
}

.noDisponibile{
    color: red;
}

/* -------------------------------------------------------------------------- */
/*                                LISTA VEICOLI                               */
/* -------------------------------------------------------------------------- */

.immagine{
    height: 5rem;
    clip-path: polygon(0 0, 74% 0, 89% 100%, 0 100%);
    background: #00b8c21a;
  }
  .immagineDisponibile{
    height: 5rem;
    clip-path: polygon(0 0, 74% 0, 89% 100%, 0 100%);
    background: #00b8c255;
  }

  .descrizione{
    height: 9rem;
    padding: .25rem 1rem;
    background: #00b8c21a;
  }
  .descrizioneDisponibile{
    transition: 0.2s;
    height: 9rem;
    background: linear-gradient(270deg, #128594, #00b7c2);
    padding: .25rem 1rem;
  }

  .descrizioneDisponibile:hover{
    border: 4px solid #00b7c2;
    background: linear-gradient(90deg, #ffffff, #00b8c241);
  }

  .cartaNoDisponibile{
    cursor: not-allowed;
  }

  .contenitoreDisponibile a{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-decoration: none;
    color: #ffffff;
    transition: .2s;
  }

  .contenitoreDisponibile a:hover{
    color: #00b7c2;

  }

  /* .contenitoreDisponibile a:hover{
    color: #00b7c2;

  } */

  .contenitoreNoDisponibili a{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-decoration: none;
    color: #128594;
    cursor: not-allowed;
  }

  .modello{
    font-size: 30px;
  }

  .desc{
    font-size: 15px;
  }

  .tipo{
    font-size: 15px;
  }

  .disponibilitaSI{
    font-size: 20px;
    color: rgb(57, 212, 57);
  }

  .disponibilitaNO{
    font-size: 20px;
    color: red;
  }

  /* -------------------------------------------------------------------------- */
  /*                                   FOOTER                                   */
  /* -------------------------------------------------------------------------- */

.footerColor{
    background: #252A41;
    padding: 1.5rem 0;
}

.footerApp{
    /* display: flex;
    align-items: center; */
}

.appleImg{ 
    margin: 0 0;
    height: 4rem;
    width: auto;
}

.googleImg{
    height: 4rem;
    width: auto;
}

.social a{
    text-decoration: none;
}

.cookie a{
    color: white;
}

.cookie a:hover{
    color: #020d3e;
}

/* -------------------------------------------------------------------------- */
/*                                  ABOUT US                                  */
/* -------------------------------------------------------------------------- */

.paragrafo{
    color: #128494;
    font-size: 25px;
    margin-top: 3rem;
    margin: 2rem 0;
}

.paragrafoTx{
    color: #00B7C2;
    font-weight: 800;
}

.fotoSezione img{
    width: 400px;
    margin: 2rem 0;
}
