/* css */
.sfondoChiaro{
    background-color: #A3E8EC;
}

.sfondoMedio{
    background-color: #ECFEFF;
}

.first-color { 
    background: #ecfeff; 
}

.second-color { 
    background: #00b7c2; 
}

.third-color { 
    background: #128594; 
    
    
}

.fourth-color { 
    background: #4ef037;
}